h4 {
	background: lightblue;
}
h4:hover ~ p{
	background: lightblue;
}

h4:hover ~table{
	background: lightblue;
}

#header {
	background: lightblue;
	font-size:medium;
	text-align: left;
	font-weight: bold;
	margin: 40px;
	padding: 20px;
	border: 1px solid blue;
}
